/** Style Map Footer **/
.map {
  width: 100%;
  height: 200%;
  margin-top: 1.5rem;
  overflow: hidden;
  filter: grayscale(40%);
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 35px;
  height: 35px;
}

.marker::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('./assets//location-pin.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

/** Styles Modal Payment **/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-image: url(../src/assets/food-modal.png);
  padding: 20px;
  border-radius: 8px;
}

/** Styles Counter Products */

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.button-85 {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  padding: 0.9em 1em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10%;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10%;
}

.quantity {
  font-size: 1.2rem;
  color: orangered;
  font-style: normal;
  font-weight: 600;
}